*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: #0a0a0a;
  font-family: "Poiret One";
  background-color: #e5ebf0;
}

a {
  color: inherit;
  text-decoration: none;
}

#home {
  width: 100%;
  height: 100vh;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #welcome-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-animation: fadeInTitle 2s ease-in;
          animation: fadeInTitle 2s ease-in;
}

#home #welcome-div #welcome-title {
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: calc(9vw + 2rem);
  font-family: "Leckerli One";
  opacity: 0.9;
}

#home #welcome-div #welcome-subtitle {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: calc(2vw + 1rem);
  font-family: "Poiret One";
  color: #dddddd;
}

@-webkit-keyframes fadeInTitle {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeInTitle {
  from {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

#projects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#projects #projects-title {
  margin-top: 10vh;
  margin-bottom: 20vh;
  font-size: calc(5vw + 1rem);
  font-family: "Poiret One";
  color: #dddddd;
  text-shadow: 0.5px 0.5px 0px #0a0a0a;
}

#projects #project-grid {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 7.5vmax;
}

#projects #project-grid .project-tile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border-radius: 6px;
  height: 300px;
  min-height: 300px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: transform 1000ms, box-shadow 1000ms;
  transition: transform 1000ms, box-shadow 1000ms, -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  background-color: rgba(228, 228, 228, 0.85);
}

#projects #project-grid .project-tile .text-content {
  height: 100%;
  width: 60%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects #project-grid .project-tile .text-content .project-title {
  font-size: 32px;
  text-shadow: 1px 1px rgba(228, 228, 228, 0.85);
}

#projects #project-grid .project-tile .text-content .project-desc, #projects #project-grid .project-tile .text-content .project-more {
  text-align: left;
  margin: 0;
  font-size: 1.4em;
  padding: 0 1em;
  line-height: 1.3em;
  white-space: pre-wrap;
}

#projects #project-grid .project-tile .project-img {
  width: 40%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#projects #project-grid .project-tile:hover {
  -webkit-transform: translateX(3%) scale(1.05);
          transform: translateX(3%) scale(1.05);
  -webkit-box-shadow: 0 10px 17px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 17px -2px rgba(0, 0, 0, 0.4);
}

#projects #project-grid .project-tile:nth-child(2n) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

#projects #project-grid .project-tile:nth-child(2n) .text-content {
  float: left;
}

#projects #project-grid .project-tile:nth-child(2n):hover {
  -webkit-transform: translateX(-3%) scale(1.05);
          transform: translateX(-3%) scale(1.05);
}

#profile-links {
  display: -ms-grid;
  display: grid;
}

#profile-links #profile-links-div {
  min-height: 140px;
  margin: 20vh 20vw 10vh 20vw;
  border-radius: 6px;
  text-align: center;
  background-color: rgba(228, 228, 228, 0.85);
  font-size: 42px;
  padding: 0.5em 0;
}

#profile-links #profile-links-div #profile-links-title {
  margin: 0 0 1em 0;
  font-size: inherit;
}

#profile-links #profile-links-div .profile-link {
  margin: 0 3vw;
  padding: 5px;
  display: inline-block;
  -webkit-animation-name: reverse-hover-link;
          animation-name: reverse-hover-link;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  font-size: 1rem;
}

#profile-links #profile-links-div .profile-link .profile-img {
  width: 60px;
  height: 60px;
}

#profile-links #profile-links-div .profile-link:hover {
  -webkit-animation-name: hover-link;
          animation-name: hover-link;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hover-link {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes hover-link {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes reverse-hover-link {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reverse-hover-link {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#img-container #backdrop {
  min-width: 100%;
  max-width: 1920px;
  min-height: calc(100vh + 100px);
  position: relative;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-filter: contrast(1.1) saturate(95%);
          filter: contrast(1.1) saturate(95%);
}

/* ---------------------- MEDIUM SIZED UI -------------------------- */
@media (max-width: 1250px) {
  #projects #project-grid {
    grid-row-gap: 10vmax;
  }
  #projects #project-grid .project-tile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #projects #project-grid .project-tile .text-content {
    width: 50%;
  }
  #projects #project-grid .project-tile .project-img {
    width: 50%;
  }
  #projects #project-grid .project-tile:hover {
    -webkit-transform: scale(1.02) !important;
            transform: scale(1.02) !important;
  }
  #projects #project-grid .project-tile:nth-child(2n) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  #profile-links #profile-links-div {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

@media (max-width: 850px) {
  #projects #project-grid .project-tile .text-content .project-more {
    display: none;
  }
}

/* ---------------------- MOBILE UI -------------------------- */
@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (max-device-width: 768px) and (min-resolution: 2dppx) and (orientation: portrait) {
  #img-container {
    min-height: 228%;
  }
  #home #welcome-div {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  #home #welcome-div #welcome-title {
    font-size: 48px;
  }
  #home #welcome-div #welcome-subtitle {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 24px;
  }
  #projects #projects-title {
    height: none;
    font-size: 48px;
    text-shadow: 1px 1px 0px #0a0a0a;
  }
  #projects #project-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #projects #project-grid .project-tile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 400px;
  }
  #projects #project-grid .project-tile .project-img {
    width: 100%;
    min-height: 60%;
    max-height: 60%;
  }
  #projects #project-grid .project-tile .text-content {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #projects #project-grid .project-tile .text-content .project-title {
    font-size: 24px;
  }
  #projects #project-grid .project-tile:hover {
    -webkit-transform: none !important;
            transform: none !important;
  }
  #profile-links {
    width: 100%;
    min-height: 80px;
    padding-top: 10vh;
    display: block;
  }
  #profile-links #profile-links-div {
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #profile-links #profile-links-div #profile-links-title {
    display: none;
  }
  #profile-links #profile-links-div .profile-link {
    margin: 0;
    -webkit-animation-name: none;
            animation-name: none;
  }
  #profile-links #profile-links-div .profile-link .profile-img {
    width: 60px;
    height: 60px;
  }
  #profile-links #profile-links-div .profile-link:hover {
    -webkit-animation-name: none;
            animation-name: none;
  }
}
/*# sourceMappingURL=styles.css.map */