$header-footer-color: rgba(228, 228, 228, 0.3);
$background-color-1: #ffffff;
$background-color-2: rgba(228, 228, 228, 0.2);
$font-color-1: #0a0a0a;
$font-color-2: #dddddd;
$font-family-1: "Leckerli One";
$font-family-2: "Poiret One";

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

  color: $font-color-1;
  font-family: $font-family-2;
  background-color: $background-color-1;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0px;
  left: 0px;
  z-index: 99;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  #nav-links {
    width: 300px;
    margin-right: 40px;
    padding: 15px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;

    background-color: $header-footer-color;

    .nav-link {
      font-size: 25px;
      text-decoration: none;
    }
  }
}

#home {
  width: 100%;
  height: 100vh;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #welcome-div {
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    #welcome-title {
      margin: 0;
      min-width: 640px;

      align-self: center;
      text-align: center;

      font-size: 100px;
      font-family: $font-family-1;
    }

    #welcome-subtitle {
      margin: 0;

      align-self: flex-end;

      font-size: 30px;
      font-family: $font-family-2;
      color: $font-color-2;
    }
  }
}

#projects {
  width: 100%;
  padding: 10vh 0vw 10vh 0vw;

  text-align: center;

  #projects-title {
    height: 15vh;
    width: 100%;
    font-size: 70px;
    font-family: $font-family-1;
  }

  #project-blocks {
    min-height: 65vh;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 5vmax;

    .project-tile {
      border-radius: 4px;
      max-height: 400px;
      min-height: 400px;
      overflow: hidden;

      box-shadow: 4px 4px 17px -2px rgba(0, 0, 0, 0.75);
      background-color: $background-color-2;

      .project-title {
        font-size: 22px;
        margin: 0;

        position: relative;
        top: 10%;
        transform: translateY(-50%);
      }

      .project-img {
        width: 100%;
        min-height: 80%;
        max-height: 80%;
        object-fit: cover;
      }
    }
  }
}

#profile-links {
  display: grid;

  #profile-links-div {
    min-height: 140px;
    padding: 10px;
    margin: 10vh auto 10vh auto;

    border-radius: 10px;
    display: inline-block;

    text-align: center;
    color: $font-color-2;
    background-color: $header-footer-color;

    #profile-links-title {
      font-size: 25px;
    }

    .profile-link {
      margin: 8px 50px 0 50px;
      padding: 2px;

      display: inline-block;
      animation-name: reverse-hover-link;
      animation-duration: 0.4s;

      font-size: 20px;

      .profile-img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }
  }

  .profile-link:hover {
    animation-name: hover-link;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  @keyframes hover-link {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.2);
    }
  }

  @keyframes reverse-hover-link {
    from {
      transform: scale(1.2);
    }

    to {
      transform: scale(1);
    }
  }
}

@media (min-height: 1280px) {

  #img-container {
    height: 228%;
  }

  #navbar {
    top: 0;
    margin: 0;
    height: 150px;

    background-color: rgba(228, 228, 228, 1);

    #nav-links {
      width: 100%;
      margin-right: 0;
      padding: 15px 80px 15px 80px;
      border-radius: 0;
      font-size: 50px;
    }
  }

  #projects {
    #project-blocks {
      width: 76%;
    }

    #projects-title {
      font-size: 60px;
      height: none;
    }
  }

  #profile-links {

    #profile-links-div {
      border-radius: 0;
      width: 100%;
      margin: 0;
      background-color: rgba(228, 228, 228, 1);

      #profile-links-title {
        display: none;
      }

      .profile-link {
        font-size: 50px;
        position: absolute;
        margin: auto 0 auto 0;
      }

      .profile-img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

#img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;

  overflow: hidden;

  #backdrop {
    min-width: 100%;
    max-width: 1920px;
    position: relative;
    transform: translateY(-100px);
  }
}