body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: #0a0a0a;
  font-family: "Poiret One";
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar #nav-links {
  width: 300px;
  margin-right: 40px;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(228, 228, 228, 0.2);
}

#navbar #nav-links .nav-link {
  font-size: 25px;
  text-decoration: none;
}

#home {
  width: 100%;
  height: 100vh;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home #welcome-div {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home #welcome-div #welcome-title {
  margin: 0;
  min-width: 640px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-size: 100px;
  font-family: "Leckerli One";
}

#home #welcome-div #welcome-subtitle {
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 30px;
  font-family: "Poiret One";
  color: #dddddd;
}

#projects {
  width: 100%;
  padding: 10vh 0vw 10vh 0vw;
  text-align: center;
}

#projects #projects-title {
  height: 20vh;
  width: 100%;
  font-size: 70px;
  font-family: "Poiret One";
  color: #dddddd;
}

#projects #project-blocks {
  min-height: 65vh;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 5vmax;
}

#projects #project-blocks .project-tile {
  border-radius: 4px;
  max-height: 475px;
  min-height: 475px;
  overflow: hidden;
  -webkit-animation-name: reverse-hover-tile;
          animation-name: reverse-hover-tile;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-box-shadow: 4px 4px 17px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 4px 17px -2px rgba(0, 0, 0, 0.75);
  background-color: rgba(228, 228, 228, 0.5);
}

#projects #project-blocks .project-tile .project-title {
  font-size: 30px;
  margin: 0;
  position: relative;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#projects #project-blocks .project-tile .project-img {
  width: 100%;
  min-height: 80%;
  max-height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

#projects #project-blocks .project-tile:hover {
  -webkit-animation-name: hover-tile;
          animation-name: hover-tile;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hover-tile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes hover-tile {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes reverse-hover-tile {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reverse-hover-tile {
  from {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#profile-links {
  display: -ms-grid;
  display: grid;
}

#profile-links #profile-links-div {
  min-height: 140px;
  padding: 10px;
  margin: 10vh auto 10vh auto;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  background-color: rgba(228, 228, 228, 0.2);
}

#profile-links #profile-links-div #profile-links-title {
  font-size: 30px;
}

#profile-links #profile-links-div .profile-link {
  margin: 8px 50px 0 50px;
  padding: 15px;
  display: inline-block;
  -webkit-animation-name: reverse-hover-link;
          animation-name: reverse-hover-link;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  font-size: 20px;
}

#profile-links #profile-links-div .profile-link .profile-img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

#profile-links #profile-links-div .profile-link:hover {
  -webkit-animation-name: hover-link;
          animation-name: hover-link;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes hover-link {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes hover-link {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes reverse-hover-link {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes reverse-hover-link {
  from {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-height: 1280px) {
  #img-container {
    height: 228%;
  }
  #navbar {
    top: 0;
    margin: 0;
    height: 150px;
    background-color: #e4e4e4;
  }
  #navbar #nav-links {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #navbar #nav-links .nav-link {
    font-size: 60px;
  }
  #projects #project-blocks {
    width: 76%;
  }
  #projects #projects-title {
    font-size: 60px;
    height: none;
  }
  #profile-links #profile-links-div {
    border-radius: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e4e4e4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #profile-links #profile-links-div #profile-links-title {
    display: none;
  }
  #profile-links #profile-links-div .profile-link {
    margin: 3px;
    font-size: 60px;
  }
  #profile-links #profile-links-div .profile-link .profile-img {
    width: 60px;
    height: 60px;
  }
}

#img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#img-container #backdrop {
  min-width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
/*# sourceMappingURL=styles.css.map */