$header-color: rgba(228, 228, 228, 0.2);
$background-color-1: #e5ebf0;
$background-color-2: rgba(228, 228, 228, 0.85);
$font-color-1: #0a0a0a;
$font-color-2: #dddddd;
$font-family-1: "Leckerli One";
$font-family-2: "Poiret One";

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

  color: $font-color-1;
  font-family: $font-family-2;
  background-color: $background-color-1;
}

a {
  color: inherit;
  text-decoration: none;
}

#home {
  width: 100%;
  height: 100vh;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  #welcome-div {
    display: flex;
    flex-direction: column;
    position: relative;
    animation: fadeInTitle 2s ease-in;

    #welcome-title {
      margin: 0;
      align-self: center;
      text-align: center;
      font-size: calc(9vw + 2rem);
      font-family: $font-family-1;
      opacity: 0.9;
    }
    #welcome-subtitle {
      margin: 0;
      align-self: flex-end;

      font-size: calc(2vw + 1rem);
      font-family: $font-family-2;
      color: $font-color-2;
    }
  }
}
@keyframes fadeInTitle {
  from {
    filter: blur(5px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  #projects-title {
    margin-top: 10vh;
    margin-bottom: 20vh;
    font-size: calc(5vw + 1rem);
    font-family: $font-family-2;
    color: $font-color-2;
    text-shadow: 0.5px 0.5px 0px $font-color-1;
  }
  #project-grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 7.5vmax;

    .project-tile {
      grid-column: 1/4;
      border-radius: 6px;
      height: 300px;
      min-height: 300px;
      overflow: hidden;

      transition: transform 1000ms, box-shadow 1000ms;
      background-color: $background-color-2;

      .text-content {
        height: 100%;
        width: 60%;
        float: right;
        display: flex;
        flex-direction: column;

        .project-title {
          font-size: 32px;
          text-shadow: 1px 1px $background-color-2;
        }
        .project-desc, .project-more {
          text-align: left;
          margin: 0;
          font-size: 1.4em;
          padding: 0 1em;
          line-height: 1.3em;
          white-space: pre-wrap;
        }
      }
      .project-img {
        width: 40%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
      }
      &:hover {
        transform: translateX(3%) scale(1.05);
        box-shadow: 0 10px 17px -2px rgba(0, 0, 0, 0.4);
      }
      &:nth-child(2n) {
        grid-column: 3/6;
        .text-content {
          float: left;
        }
        &:hover {
          transform: translateX(-3%) scale(1.05);
        }
      }
    }
  }
}

#profile-links {
  display: grid;

  #profile-links-div {
    min-height: 140px;
    margin: 20vh 20vw 10vh 20vw;
    border-radius: 6px;
    text-align: center;
    background-color: $background-color-2;
    font-size: 42px;
    padding: 0.5em 0;

    #profile-links-title {
      margin: 0 0 1em 0;
      font-size: inherit;
    }
    .profile-link {
      margin: 0 3vw;
      padding: 5px;
      display: inline-block;
      animation-name: reverse-hover-link;
      animation-duration: 0.2s;
      font-size: 1rem;

      .profile-img {
        width: 60px;
        height: 60px;
      }
    }

    .profile-link:hover {
      animation-name: hover-link;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    @keyframes hover-link {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
    }
    @keyframes reverse-hover-link {
      from {
        transform: scale(1.1);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

#img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;

  #backdrop {
    min-width: 100%;
    max-width: 1920px;
    min-height: calc(100vh + 100px);
    position: relative;
    transform: translateY(-100px);
    filter: contrast(1.1) saturate(95%);
  }
}

/* ---------------------- MEDIUM SIZED UI -------------------------- */
@media (max-width: 1250px) {
  #projects #project-grid {
    grid-row-gap: 10vmax;

    .project-tile {
      grid-column: 1/6;
      .text-content {
        width: 50%;
      }
      .project-img {
        width: 50%;
      }
      &:hover {
        transform: /*translateY(-2%)*/ scale(1.02) !important;
      }
      &:nth-child(2n) {
        grid-column: 1/6;
      }
    }
  }
  #profile-links #profile-links-div {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media (max-width: 850px) {
  #projects #project-grid .project-tile .text-content .project-more{
    display: none;
  }
}


/* ---------------------- MOBILE UI -------------------------- */
@media only screen and (max-device-width: 768px) and (min-resolution: 2dppx) and (orientation: portrait) {

  #img-container {
    min-height: 228%; //remove ?
  }

  #home {
    #welcome-div {
      transform: translateY(+10%);

      #welcome-title {
        font-size: 48px;
      }
      #welcome-subtitle {
        align-self: center;
        font-size: 24px;
      }
    }
  }

  #projects {
    #projects-title {
      height: none;
      font-size: 48px;
      text-shadow: 1px 1px 0px $font-color-1;
    }
    #project-grid {
      grid-template-columns: 1fr;

      .project-tile {
        grid-column: 1/6;
        display: flex;
        flex-direction: column;
        min-height: 400px;

        .project-img {
          width: 100%;
          min-height: 60%;
          max-height: 60%;
        }
        .text-content {
          height: fit-content;
          width: 100%;
          order: 2;
          .project-title {
            font-size: 24px;
          }
        }
        &:hover {
          transform: none !important;
        }
      }
    }
  }

  #profile-links {
    width: 100%;
    min-height: 80px;
    padding-top: 10vh;
    display: block;

    #profile-links-div {
      border-radius: 0;
      width: 100%;
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      #profile-links-title {
        display: none;
      }

      .profile-link {
        margin: 0;
        animation-name: none;

        .profile-img {
          width: 70px;
          height: 70px;
        }
      }

      .profile-link:hover {
        animation-name: none;
      }
    }
  }
}