$header-color: rgba(228, 228, 228, 0.2);
$footer-color: rgba(228, 228, 228, 0.6);
$background-color-1: #e5ebf0;
$background-color-2: rgba(228, 228, 228, 0.5);
$font-color-1: #0a0a0a;
$font-color-2: #dddddd;
$font-family-1: "Leckerli One";
$font-family-2: "Poiret One";

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;

  color: $font-color-1;
  font-family: $font-family-2;
  background-color: $background-color-1;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0px;
  left: 0px;
  z-index: 99;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  #nav-links {
    width: 300px;
    margin-right: 40px;
    padding: 15px;
    border-radius: 5px;

    display: flex;
    justify-content: space-between;

    background-color: $header-color;

    .nav-link {
      font-size: 28px;
      text-decoration: none;
    }
  }
}

#home {
  width: 100%;
  height: 100vh;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  #welcome-div {
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    position: relative;
    transform: translateY(-25%);

    /*animation-name: fadeInTitle;
    animation-duration: 1s;
    animation-timing-function: ease-in;*/

    #welcome-title {
      margin: 0;

      align-self: center;
      text-align: center;

      font-size: 110px;
      font-family: $font-family-1;
    }

    #welcome-subtitle {
      margin: 0;

      align-self: flex-end;

      font-size: 32px;
      font-family: $font-family-2;
      color: $font-color-2;
    }
  }

  @keyframes fadeInTitle {
    from {
      filter: blur(5px);
      opacity: 0;
    }

    to {
      filter: blur(0);
      opacity: 1;
    }
  }
}

#projects {
  width: 100%;
  padding: 5vh 0 15vh 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  #projects-title {
    height: 20vh;
    font-size: 80px;
    font-family: $font-family-2;
    color: $font-color-2;
    text-shadow: 0.5px 0.5px 0px $font-color-1;
  }

  #project-blocks {
    width: 90%;
    max-width: 1600px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 5vmax;

    .project-tile {
      border-radius: 4px;
      max-height: 480px;
      min-height: 480px;
      overflow: hidden;

      animation-name: reverse-hover-tile;
      animation-duration: 0.5s;

      box-shadow: 4px 4px 17px -2px rgba(0, 0, 0, 0.75);
      background-color: $background-color-2;

      .project-title {
        font-size: 32px;
        margin: 0;

        position: relative;
        top: 10%;
        transform: translateY(-50%);
      }

      .project-img {
        width: 100%;
        min-height: 80%;
        max-height: 80%;
        object-fit: cover;
      }
    }

    .project-tile:hover {
      animation-name: hover-tile;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }

    @keyframes hover-tile {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.1);
      }
    }

    @keyframes reverse-hover-tile {
      from {
        transform: scale(1.1);
      }

      to {
        transform: scale(1);
      }
    }
  }
}

#profile-links {
  padding-top: 10vh;
  display: grid;

  #profile-links-div {
    min-height: 140px;
    padding: 10px 0;
    margin: 10vh auto;

    border-radius: 10px;
    display: inline-block;

    text-align: center;
    background-color: $footer-color;

    #profile-links-title {
      font-size: 32px;
    }

    .profile-link {
      margin: 0 50px;
      padding: 0 5px;

      display: inline-block;
      animation-name: reverse-hover-link;
      animation-duration: 0.2s;

      font-size: 50px;

      background-color: orange;

      .profile-img {
        width: 45px;
        height: 45px;
      }
    }

    .profile-link:hover {
      animation-name: hover-link;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }

    @keyframes hover-link {
      from {
        transform: scale(1);
      }

      to {
        transform: scale(1.1);
      }
    }

    @keyframes reverse-hover-link {
      from {
        transform: scale(1.1);
      }

      to {
        transform: scale(1);
      }
    }
  }
}

#img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;

  overflow: hidden;

  #backdrop {
    min-width: 100%;
    max-width: 1920px;
    min-height: 103vh;
    position: relative;
    transform: translateY(-100px);

    filter: contrast(1.1) saturate(95%);
  }
}

@media only screen and (max-width: 1000px) {

  #home {
    #welcome-div {
      #welcome-subtitle {
        align-self: center;
      }
    }
  }
}

/* ---------------------- MOBILE UI -------------------------- */
@media only screen and (max-device-width: 768px) and (min-resolution: 2dppx) and (orientation: portrait) {

  #img-container {
    min-height: 228%;
  }

  #navbar {
    top: 0;
    margin: 0;
    height: 150px;

    background-color: rgba(228, 228, 228, 1);

    #nav-links {
      width: 100%;
      margin-right: 0;
      border-radius: 0;

      justify-content: space-evenly;

      .nav-link {
        font-size: 32px;
      }
    }
  }

  #home {
    #welcome-div {
      transform: translateY(+10%);

      #welcome-title {
        font-size: 56px;
      }

      #welcome-subtitle {
        align-self: center;
      }
    }
  }

  #projects {
    #projects-title {
      height: none;
      font-size: 56px;
      text-shadow: 1px 1px 0px $font-color-1;
    }

    #project-blocks {
      .project-tile {
        animation-name: none;
      }

      .project-tile:hover {
        animation-name: none;
      }
    }
  }

  #profile-links {
    width: 100%;
    padding-top: 0;

    display: none;

    #profile-links-div {
      border-radius: 0;
      width: 100%;
      height: 150px;
      margin: 0;
      padding: 0;
      background-color: rgba(228, 228, 228, 1);

      display: flex;
      justify-content: space-evenly;
      align-items: center;

      #profile-links-title {
        display: none;
      }

      .profile-link {
        margin: 3px;
        font-size: 32px;

        animation-name: none;

        .profile-img {
          width: 70px;
          height: 70px;
        }
      }

      .profile-link:hover {
        animation-name: none;
      }
    }
  }
}