$clr-light: #fefefe;
$clr-dark: #101010;
$clr-dark-translucent: rgba(16,16,16,0.7);
$clr-dark-shadow: rgba(16,16,16,0.4);
$clr-dark-shadow-2: rgba(16,16,16,0.15);
$clr-accent-1: dodgerblue;
$clr-accent-1-shadow: rgba(30,144,255,0.7);
$clr-accent-2: crimson;
$clr-accent-2-shadow: rgba(220,20,60,0.5);
$font-color-1: #0a0a0a;
$font-color-2: #dddddd;
$font-family-1: 'Blackjack','Brush Script MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-2: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family-3: 'Josefin Sans', 'Helvetica Neue', Helvetica, sans-serif;
$line-height-1: 1.5em;
$tile-border-radius: 30px;

*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: $font-color-1;
  font-family: $font-family-3;

  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}
h1, h3 {
  font-family: $font-family-1;
}
h2, h4 {
  font-family: $font-family-2;
  font-weight: 100;
}
a {
  color: inherit;
  text-decoration: none;
}