#about  {
  min-height: 100vh;
  position: relative;

  .about-title {
    position: relative;
    margin-bottom: 10vh;
    text-shadow: 0 4px 2px $clr-accent-2-shadow;
  }
  #about-blocks {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;

    .about-block {
      $header-font-size: calc(1.4em + 0.6vw);
      position: relative;
      padding: 1em;
      border-radius: 4px;
      box-shadow: 0 2px 6px 4px $clr-dark-shadow-2;
      background-color: rgba(254,254,254,0.4);

      .block-header {
        font-size: $header-font-size;
      }
      .divider {
        font-size: $header-font-size;
        &::after {
          background-color: #fefefe;
        }
      }
      .abstract {
        white-space: pre-line;
      }
      .col {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        .bullet-point {
          list-style-type: none;
        }
      }
    }
    #block-2 .divider::after {
      background-color: #f2f4f7;
    }
  }
  .img-container .backdrop {
    filter: saturate(80%);
  }
}

@media (min-width: 1700px) {
  #block-2 .divider::after {
    background-color: #ebecf1 !important;
  }
}
@media (max-width: 1550px) {
  #block-2 .divider::after {
    background-color: #eef0f3 !important;
  }
}
@media (max-width: 1450px) {
  #block-2 .divider::after {
    background-color: #e9ebef !important;
  }
}
@media (max-width: 1300px) {
  #block-2 .divider::after {
    background-color: #f2f4f7 !important;
  }
}
@media (max-width: 1025px) {
  #block-1 .divider::after {
    background-color: #f4f5f8 !important;
  }
}