#profile-links {
  $em-size: calc(2vw + 2rem);
  padding: 5vh 15vw;
  display: grid;
  text-align: center;
  position: relative;

  .profile-links-title {
    margin-bottom: 0.5em;
    font-size: $em-size;
  }

  #profile-links-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .profile-link {
      padding: 5px;
      display: inline-block;
      transition: transform 400ms;
      font-size: 1rem;
      position: relative;

      .profile-img {
        width: calc(#{$em-size} * 1.25);
        height: calc(#{$em-size} * 1.25);
      }
    }
    .profile-link:hover {
      transform: scale(1.1);
    }
  }
}