#profile-links {
  display: grid;
  text-align: center;
  position: relative;
  padding-bottom: 12.5vh;

  .profile-links-title {
    margin-bottom: 10vh;
    text-shadow: 0 4px 2px $clr-accent-2-shadow;
  }

  #profile-links-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .profile-link {
      $img-size: calc(calc(5vw + 1rem) * 0.9);
      padding: 10px;
      display: inline-block;
      transition: transform 600ms;
      position: relative;

      .profile-img {
        width: $img-size;
        height: $img-size;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: $img-size;
        height: $img-size;
        margin: 10px;
        z-index: -1;
        border-radius: 50%;
        background-color: $clr-accent-2-shadow;
      }
    }
    .profile-link:hover {
      transform: scale(1.1);
      .footer-tooltip {
        visibility: visible;
      }
    }
  }
}

.footer-tooltip {
  top: calc(90% + 0.5em);
  left: 50%;
  width: 120px;
  margin-left: -60px;
  padding: 0.5em 0;
  position: absolute;
  border-radius: 6px;
  text-align: center;
  background-color: $clr-dark-shadow-2;
  //color: $clr-accent-2;
  font-size: 1.1em;
  opacity: 0.9;
  visibility: hidden;
}

.tooltip-tall {
  top: 100%;
}