@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@font-face {
  font-family: 'Blackjack';
  src: url("../fonts/blackjack.woff2") format("woff2"), url("../fonts/blackjack.woff") format("woff"), url("../fonts/blackjack.ttf") format("truetype");
}

*,
*::before,
*::after {
  font-family: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  color: #0a0a0a;
  font-family: "Poiret One";
}

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

h1, h3, h4 {
  font-family: "Cabin Sketch";
}

h2 {
  font-family: "Lato";
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---------------------- WELCOME PAGE STYLES -------------------------- */
#home {
  height: 110vh;
  padding-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #101010;
}

#home #title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transform: translateY(calc(calc(2.5vw + 1rem) * -1/2));
          transform: translateY(calc(calc(2.5vw + 1rem) * -1/2));
}

#home #title-div #welcome-title {
  margin: 0;
  font-size: calc(8.5vw + 2rem);
  font-family: "Cabin Sketch";
  font-weight: 700;
  color: whitesmoke;
  -webkit-animation: fadeInTitle 2000ms linear 500ms;
          animation: fadeInTitle 2000ms linear 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  z-index: 1;
  will-change: filter, transform;
}

#home #title-div #welcome-subtitle {
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  font-size: calc(2.5vw + 1rem);
  color: dodgerblue;
  -webkit-animation: fadeInSubtitle 1500ms linear 2200ms;
          animation: fadeInSubtitle 1500ms linear 2200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  will-change: filter, transform;
}

@-webkit-keyframes fadeInTitle {
  0% {
    -webkit-filter: blur(20px);
            filter: blur(20px);
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0.9;
  }
}

@keyframes fadeInTitle {
  0% {
    -webkit-filter: blur(20px);
            filter: blur(20px);
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0.9;
  }
}

@-webkit-keyframes fadeInSubtitle {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes fadeInSubtitle {
  0% {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/* ---------------------- SECTION STYLES -------------------------- */
.portfolio-section {
  padding: 10vh 5% 20vh 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header {
  margin-bottom: 15vh;
  font-size: calc(5vw + 1rem);
  font-family: "Cabin Sketch";
  font-weight: 700;
}

.block-header {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 300;
}

.block-content {
  margin: 0;
  position: relative;
  font-size: 1.5em;
  line-height: 1.5em;
  letter-spacing: 1px;
  font-weight: lighter;
}

.divider {
  border: none;
  width: 100%;
  height: 0px;
  margin: 0 0 1.25em;
  position: relative;
  border-top: 2px double crimson;
  overflow: visible;
  text-align: center;
  opacity: 0.5;
}

.divider::after {
  background: whitesmoke;
  content: '☁';
  padding: 0 2px;
  position: relative;
  bottom: calc(0.75em * 2 + 2px);
  font-size: calc(1em / 2);
  color: crimson;
}

.bullet-point {
  list-style-type: circle;
  padding-bottom: 1em;
}

/* ---------------------- ABOUT SECTION STYLES -------------------------- */
#about {
  min-height: 100vh;
  background-color: whitesmoke;
}

#about .about-title {
  position: relative;
}

#about .about-title::after {
  content: "";
  width: 150%;
  height: 3px;
  position: absolute;
  left: -25%;
  -webkit-transform: translateY(1.5em);
          transform: translateY(1.5em);
  background-color: crimson;
  opacity: 0.5;
}

#about #about-blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

#about #about-blocks .about-block {
  position: relative;
  padding: 1em;
  border: 2px solid rgba(16, 16, 16, 0.03);
  border-radius: 4px;
}

#about #about-blocks .about-block .block-header {
  font-size: calc(1.4em + 0.6vw);
}

#about #about-blocks .about-block .divider {
  font-size: calc(1.4em + 0.6vw);
}

#about #about-blocks .about-block .abstract {
  white-space: pre-line;
}

#about #about-blocks .about-block .col {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

/* ---------------------- PROJECT SECTION STYLES -------------------------- */
#projects {
  background-color: #101010;
}

#projects .projects-title {
  color: whitesmoke;
  margin-bottom: 18vh;
}

#projects .projects-title::before {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 2.7em;
  -webkit-transform: translateY(-0.675em);
          transform: translateY(-0.675em);
  border-radius: 200% 100%;
  border: solid 6px dodgerblue;
  opacity: 0.3;
}

#projects #project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 18vh;
  position: relative;
}

#projects #project-grid .project-tile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  position: relative;
  border-radius: 4px;
  height: 400px;
  min-height: 400px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  transition: transform 1000ms, box-shadow 1000ms;
  transition: transform 1000ms, box-shadow 1000ms, -webkit-transform 1000ms, -webkit-box-shadow 1000ms;
  will-change: transform;
}

#projects #project-grid .project-tile .project-text {
  height: 100%;
  width: 50%;
  padding: 0 1.5em 1.5em;
  position: relative;
  float: right;
  color: #dddddd;
  background-color: rgba(245, 245, 245, 0.03);
}

#projects #project-grid .project-tile .project-text .project-header {
  margin-top: 1.25em;
  font-size: 2em;
  color: dodgerblue;
}

#projects #project-grid .project-tile .project-text .project-desc {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.3em;
  position: relative;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  opacity: 0.6;
}

#projects #project-grid .project-tile .project-text .project-features {
  margin-left: 1.5rem;
}

#projects #project-grid .project-tile .project-img {
  width: 50%;
  min-height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
}

#projects #project-grid .project-tile .tech-badge {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.5em;
  border-radius: 20px;
  font-size: 0.8em;
  color: dodgerblue;
  opacity: 0.8;
}

#projects #project-grid .project-tile:hover {
  -webkit-transform: translateX(3%) scale(1.05);
          transform: translateX(3%) scale(1.05);
  -webkit-box-shadow: 0 10px 17px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 17px -2px rgba(0, 0, 0, 0.4);
}

#projects #project-grid .project-tile:nth-child(2n) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
}

#projects #project-grid .project-tile:nth-child(2n) .project-text {
  float: left;
}

#projects #project-grid .project-tile:nth-child(2n) .project-img {
  float: right;
}

#projects #project-grid .project-tile:nth-child(2n) .tech-badge {
  left: 0;
  right: unset;
}

#projects #project-grid .project-tile:nth-child(2n):hover {
  -webkit-transform: translateX(-3%) scale(1.05);
          transform: translateX(-3%) scale(1.05);
}

/* ---------------------- FOOTER STYLES -------------------------- */
#profile-links {
  padding: 5vh 15vw;
  display: -ms-grid;
  display: grid;
  text-align: center;
  background-color: whitesmoke;
}

#profile-links .profile-links-title {
  margin-bottom: 0.5em;
  font-size: calc(2vw + 2rem);
}

#profile-links #profile-links-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#profile-links #profile-links-div .profile-link {
  padding: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  font-size: 1rem;
}

#profile-links #profile-links-div .profile-link .profile-img {
  width: calc(calc(2vw + 2rem) * 1.25);
  height: calc(calc(2vw + 2rem) * 1.25);
}

#profile-links #profile-links-div .profile-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* #img-container {
  height: auto;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;

  #backdrop {
    min-width: 100%;
    max-width: 1920px;
    min-height: calc(100vh + 100px);
    position: relative;
    transform: translateY(-100px);
    filter: contrast(1.1) saturate(95%);
  }
} */
@media (max-width: 1600px) {
  #projects #project-grid .project-tile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  #projects #project-grid .project-tile:nth-child(2n) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
  }
}

/* ---------------------- MEDIUM SIZED UI -------------------------- */
@media (max-width: 1250px) {
  #about #about-blocks {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10vh;
  }
  #about #about-blocks #block-0 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about #about-blocks .about-block {
    padding: 0;
    border: none;
  }
  #about #about-blocks .about-block .block-header {
    margin-bottom: 1em;
  }
  #about #about-blocks .about-block .block-content {
    padding: 0 20px;
  }
  #about #about-blocks .about-block .two-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about #about-blocks .about-block .two-col li {
    width: 50%;
  }
  #about #about-blocks .block-header {
    font-size: 32px !important;
  }
  #projects #project-grid {
    grid-row-gap: 10vh;
  }
  #projects #project-grid .project-tile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -webkit-transition: -webkit-transform 800ms, -webkit-box-shadow 800ms;
    transition: -webkit-transform 800ms, -webkit-box-shadow 800ms;
    transition: transform 800ms, box-shadow 800ms;
    transition: transform 800ms, box-shadow 800ms, -webkit-transform 800ms, -webkit-box-shadow 800ms;
  }
  #projects #project-grid .project-tile:hover {
    -webkit-transform: translateY(-1%) scale(1.02) !important;
            transform: translateY(-1%) scale(1.02) !important;
  }
  #projects #project-grid .project-tile:nth-child(2n) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

/* ---------------------- MOBILE UI -------------------------- */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  #img-container {
    min-height: 228%;
  }
  #home #title-div {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  #home #title-div #welcome-title {
    font-size: calc(8.5vw + 1rem);
  }
  #home #title-div #welcome-subtitle {
    font-size: 24px;
  }
  .section-header {
    font-size: 48px;
  }
  #about #about-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #projects .projects-title::before {
    border: none;
  }
  #projects #project-grid .project-tile {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    text-align: center;
  }
  #projects #project-grid .project-tile .project-img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
  }
  #projects #project-grid .project-tile .project-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #projects #project-grid .project-tile .project-text .project-header {
    font-size: 24px;
    margin-bottom: 1.25em;
  }
  #projects #project-grid .project-tile .project-text .project-desc {
    display: none;
  }
  #projects #project-grid .project-tile .project-text .project-features {
    display: none;
  }
  #projects #project-grid .project-tile .tech-badge {
    left: unset !important;
    right: 0 !important;
  }
  #projects #project-grid .project-tile:hover {
    -webkit-transform: none !important;
            transform: none !important;
  }
  #profile-links {
    width: 100%;
    min-height: 80px;
    display: block;
  }
  #profile-links #profile-links-div .profile-link {
    -webkit-animation-name: none;
            animation-name: none;
  }
  #profile-links #profile-links-div .profile-link .profile-img {
    width: 60px;
    height: 60px;
  }
  #profile-links #profile-links-div .profile-link:hover {
    -webkit-animation-name: none;
            animation-name: none;
  }
}
/*# sourceMappingURL=styles.css.map */